<div class="schedule-movie"
     data-cinema-hall-movie-id="@ViewData["CinemaHallMovieID"]"
     data-movie-id="@ViewData["MovieID"]"
     data-start-minute="@ViewData["StartMinute"]"
     data-duration="@ViewData["Duration"]"
     style="height: @{@ViewData["ItemHeight"]}px">
    <span class="glyphicon glyphicon-remove schedule-movie-remove"></span>
    <span class="glyphicon glyphicon-time schedule-movie-edit"></span>
    <div>@ViewData["MovieName"]</div>
    <!--<div>@ViewData["Price"] грн.</div>-->
</div>