@model IEnumerable<OnlineCinema.Models.CinemaHallPlace>

@{
    ViewBag.Title = "Index";
}

<h2>Cinema hall places</h2>

<input type="hidden" class="cinema-hall-id" value="@ViewBag.CinemaHallID" />

<div class="form-group">
    <label class="control-label col-md-2">Рядів</label>
    <input type="text" class="form-control text-box single-line valid cinema-hall-rows" />
</div>
<div class="form-group">
    <label class="control-label col-md-2">Місць</label>
    <input type="text" class="form-control text-box single-line valid cinema-hall-cells" />
</div>
<div class="form-group">
    <button class="btn btn-default generate-places">
        Згенерувати місця
    </button>
    <button class="btn btn-default save-places">
        Зберегти місця
    </button>
</div>

<div class="cineme-hall">
    <div class="form-group">
        <div class="cineme-hall-actions">
            <button class="btn btn-default join-places hidden">
                Об'єднати
            </button>
            <button class="btn btn-default remove-places hidden">
                Вилучити
            </button>
        </div>
    </div>
    <div class="cinema-hall-places">
        @for (var i = 0; i < @ViewBag.maxRow; i++)
        {
        <div class="cinema-hall-row">
            @for (var j = 0; j < @ViewBag.maxCell; j++)
            {
                if (ViewBag.cinemaHallRows[i, j] == null)
                {
                    <div class="cinema-hall-cell removed"></div>
                }
                else if (ViewBag.cinemaHallRows[i, j].GetIsJoined())
                {
                    <div class="cinema-hall-cell joined" data-rows="@ViewBag.cinemaHallRows[i, j].Rows" data-cells="@ViewBag.cinemaHallRows[i, j].Cells"></div>
                }
                else
                {
                    <div class="cinema-hall-cell" data-rows="@ViewBag.cinemaHallRows[i, j].Rows" data-cells="@ViewBag.cinemaHallRows[i, j].Cells"></div>
                }
            }
        </div>
        }
    </div>
</div>
