<div class="header">
    <div class="container header-content">
        <div class="header-section header-logo col-sm-3 col-xs-4">
            <a class="logo" href="@Url.RouteUrl("Default", new { controller = "Home", Action = "index" })"></a>
        </div>
        <div class="header-section header-right col-sm-9 col-xs-8">
            <ul class="header-menu">
                <li>
                    <a href="@Url.RouteUrl("Default", new { controller = "Home", Action = "index" })" class="header-menu-item">
                        Головна
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Default", new { controller = "Home", Action = "About" })" class="header-menu-item">
                        Про сервіс
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Default", new { controller = "Home", Action = "Contact" })" class="header-menu-item">
                        Контакти
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("Default", new { controller = "Home", Action = "HowToPay" })" class="header-menu-item">
                        Як оплатити?
                    </a>
                </li>
            </ul>
            <!--<div class="choose-city">
                Чернівці
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>-->
            <div class="header-search col-sm-9 col-xs-9">
                <div class="input grey col-sm-9 col-xs-8">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <input type="text" placeholder="ПОШУК ПО ФІЛЬМУ" value="@ViewBag.searchString" />
                </div>
                <div class="action-button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
                <div class="action-button-mobile col-sm-3 col-xs-4">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
            <div class="header-menu-mobile col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu hidden">
    <div class="mobile-menu-header">
        <div class="logo"></div>
        <span class="glyphicon glyphicon-remove mobile-menu-close"></span>
    </div>
    <div class="mobile-menu-items">
        <div class="mobile-menu-item">
            <a href="">
                Головна
            </a>
        </div>
        <div class="mobile-menu-item">
            <a href="">
                Про нас
            </a>
        </div>
        <div class="mobile-menu-item">
            <a href="">
                Контакти
            </a>
        </div>
        <div class="mobile-menu-item">
            <a href="">
                Як оплатити
            </a>
        </div>
    </div>
    <div class="mobile-menu-footer-left"></div>
    <div class="mobile-menu-footer-right"></div>
</div>