<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online cinema</title>
    @Styles.Render("~/Content/css")
    @if (ViewBag.Styles != null)
    {
        foreach (string style in ViewBag.Styles)
        {
            @Styles.Render("~/Content/" + style + ".css")
        }
    }
    @Styles.Render("~/Content/jquery-ui.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["UserID"] != null && Session["UserID"].ToString() != "")
                    {
                        if (Session["CinemaID"] == null || Session["CinemaID"].ToString() == "")
                        {
                            <li>@Html.ActionLink("Cities", "Index", "Cities")</li>
                            <li>@Html.ActionLink("Cinemas", "Index", "Cinemas")</li>
                            <li>@Html.ActionLink("Genres", "Index", "Genres")</li>
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        }
                        else
                        {
                            <li>@Html.RouteLink("CinemaHalls", new { controller = "Cinemas", action = "Halls", id = Session["CinemaID"].ToString() })</li>
                        }
                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Administrator")</li>
                    }
                </ul>
                @if (ViewBag.Cities != null)
                {
                    <div class="choose-city">
                        <div class="choose-city-title">
                            @Html.Raw(ViewBag.City != "" ? ViewBag.City : "Вибрати місто")
                        </div>
                        <div class="cities">
                            @foreach (var city in ViewBag.Cities)
                            {
                                string cityName = city.Name.ToString();
                                <div class="city">
                                    @Html.RouteLink(cityName, "Default", new { controller = "Home", action = "City", id = city.ID })
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @if (ViewBag.Scripts != null)
    {
        foreach (string script in ViewBag.Scripts)
        {
            @Scripts.Render("~/Scripts/" + script + ".js")
        }
    }
    @Scripts.Render("~/Scripts/jquery-ui.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
