@model CinemaTickets.Models.Movie

@{
    var i = 0;
    var priceClass = "form-control";
    if (ViewBag.cinemaId != 0)
    {
        priceClass += " required";
    }
    var token = Session["UserID"] != null && Session["UserID"].ToString() != "" ? Html.AntiForgeryToken().ToHtmlString() : "";
}

@using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(token)

    <div class="form-horizontal">
        <h4>Фільм</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.GenreID, "Жанр", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenreID", null, "Вибрати", new { @class = "required" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Назва", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duration, "Тривалість", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control required", @type = "number" } })
            </div>
        </div>

        @if (ViewBag.cinemaId == 0)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Description, "Опис", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Country, "Країна", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Year, "Рік", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Director, "Режисер", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cast, "Актори", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cast, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Budget, "Бюджет", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YoutubeUrl, "Youtube", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YoutubeUrl, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Зображення", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="Image" id="image" accept="image/jpeg,image/png" />
                </div>
            </div>
        }

        @if (ViewBag.movieID == 0)
        {
            <div class="form-group @if (ViewBag.cinemaId == 0) { @Html.Raw(" hidden"); }">
                @Html.Label("Ціна", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("Ціна", new { htmlAttributes = new { @Name = "Price", @class = priceClass, @type = "number" } })
                </div>
            </div>

            foreach (CinemaTickets.Models.CinemaPlaceGroup cinemaPlaceGroup in ViewBag.cinemaPlaceGroups)
            {
                <div class="form-group @if (ViewBag.cinemaId == 0) { @Html.Raw(" hidden"); }">
                    @Html.Label("Ціна (" + cinemaPlaceGroup.Name + ")", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Hidden("GroupPrices[" + @i + "][key]", cinemaPlaceGroup.ID)
                        @Html.Editor("Ціна", new { htmlAttributes = new { @Name = "GroupPrices[" + @i + "][value]", @class = "form-control required", @type = "number" } })
                    </div>
                </div>
                i++;
            }
        }

        @if (i == 0)
        {
            @Html.Hidden("GroupPrices[" + @i + "][key]", "0")
            @Html.Hidden("GroupPrices[" + @i + "][value]", "0")
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Створити" class="btn btn-default" />
            </div>
        </div>
    </div>
}
