@model IEnumerable<OnlineCinema.Models.CinemaHall>

@{
    ViewBag.Title = "Cinema halls";
}

<h2>Cinema halls</h2>

<div>
    @Html.RouteLink("Create New", new { controller = "CinemaHalls", action = "Create", id = ViewBag.CinemaID })

    @using (Html.BeginForm()) {
    <p>
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
            @Html.RouteLink("Places", new { controller = "CinemaHallPlaces", action = "Index", id = item.ID }) |
            @Html.RouteLink("Schedule", new { controller = "CinemaHallSchedule", action = "Index", id = item.ID })
        </td>
    </tr>
}

</table>
