@model CinemaTickets.Models.User

@{
    ViewBag.Title = "Деталі користувача";
}

<h2>Деталі користувача</h2>

<div>
    <h4>Користувач</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Прізвище
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Ім'я
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Логін
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Змінити", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("До списку", "Index")
</p>
