@model PagedList.IPagedList<CinemaTickets.Models.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Користувачі";
}

<h2>Користувачі</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ім'я
        </th>
        <th>
            Прізвище
        </th>
        <th>
            Логін
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Деталі", "Details", new { id = item.ID }) |
                @Html.ActionLink("Вилучити", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))