@{
    ViewBag.Title = "Index";
    var hour = "";
    var minute = "";
}

<h2>Розклад сеансів: @ViewBag.CinemaHallName</h2>

<input type="hidden" class="cinema-hall-id" value="@ViewBag.CinemaHallID" />
<input type="hidden" class="year" value="@ViewBag.Year" />
<input type="hidden" class="month" value="@ViewBag.Month" />
<input type="hidden" class="day" value="@ViewBag.Day" />

<div class="form-group">
    <label class="control-label col-md-2">Пошук фільму</label>
    <input type="text" class="form-control text-box single-line valid cinema-hall-movie" />
</div>

<div class="schedule-movies">
    @Html.Raw(ViewBag.CinemaHallMoviesHtml)
</div>

<div class="schedule">
    <div class="copy-schedule">
        Скопіювати з попер. дня
    </div>
    <div class="schedule-title">
        @ViewBag.Day.@ViewBag.Month.@ViewBag.Year
    </div>
    <div class="prev-week">
        Попередній Тиждень
        <div class="prev-week-title">@ViewBag.PrevWeek.Day.@ViewBag.PrevWeek.Month.@ViewBag.PrevWeek.Year</div>
    </div>
    <div class="prev-day">
        Попередній день
        <div class="prev-day-title">@ViewBag.PrevDay.Day.@ViewBag.PrevDay.Month.@ViewBag.PrevDay.Year</div>
    </div>
    <div class="next-week">
        Наступний тиждень
        <div class="next-week-title">@ViewBag.NextWeek.Day.@ViewBag.NextWeek.Month.@ViewBag.NextWeek.Year</div>
    </div>
    <div class="next-day">
        Наступний день
        <div class="next-day-title">@ViewBag.NextDay.Day.@ViewBag.NextDay.Month.@ViewBag.NextDay.Year</div>
    </div>
    <div class="save-schedule">
        Зберегти розклад
    </div>
    <div class="schedule-table">
        <div class="schedule-table-hours">
            @for (var i = 0; i < 24; i++)
            {
                hour = i < 10 ? "0" + i.ToString() : i.ToString();
                var className = "";
                var startMinute = 0;
                var data = "";
                if (ViewBag.prevMovieEndHour != null && ViewBag.prevMovieEndMinute != null)
                {
                    if (i < ViewBag.prevMovieEndHour)
                    {
                        className = " disabled";
                    }
                    else if (i == ViewBag.prevMovieEndHour)
                    {
                        data = " data-start-minute=" + (ViewBag.prevMovieEndminute + 5);
                    }
                }
                <div class="schedule-table-hour@{@className}" data-hour="@i.ToString()"@data>
                    <div class="schedule-table-hour-title">
                        @(hour):00
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="schedule-movie-choose-minute hidden">
    <select>
        @for (var i = 0; i < 60; i += 5)
        {
            minute = i < 10 ? "0" + i.ToString() : i.ToString();
            <option value="@i">@minute</option>
        }
    </select>
</div>