<div class="schedule-movie"
     data-cinema-hall-movie-id="@ViewData["CinemaHallMovieID"]"
     data-movie-id="@ViewData["MovieID"]"
     data-start-minute="@ViewData["StartMinute"]"
     data-duration="@ViewData["Duration"]"
     style="height: @{@ViewData["ItemHeight"]}px">
    <div class="schedule-movie-remove">x</div>
    <div class="schedule-movie-edit">i</div>
    <div>@ViewData["MovieName"]</div>
    <div>@ViewData["Price"] грн.</div>
</div>