@{
    ViewBag.Title = ViewBag.Message;
}

<div class="book-confirm">
    <div class="book-confirm-image" style="background-image: url(/images/@ViewBag.movieImage)"></div>
    <div class="book-confirm-info">
        <div class="book-confirm-movie-name text-uppercase bg-grey grey">
            @ViewBag.movieName
            <span class="book-confirm-movie-type">
                2D
            </span>
        </div>
        @Html.Partial("Cinema")
        @Html.Partial("Places")
        @if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
        {
            @Html.Partial("User")
        }
    </div>
</div>

<div class="book-confirm-mobile">
    <div class="book-confirm-movie-name text-uppercase bg-grey grey">
        @ViewBag.movieName
        <span class="book-confirm-movie-type">
            2D
        </span>
    </div>
    <div class="book-confirm-image" style="background-image: url(/images/@ViewBag.movieImage)"></div>
    <div class="book-confirm-info">
        @Html.Partial("Cinema")
    </div>
    @Html.Partial("Places")
    @if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
    {
        @Html.Partial("User")
    }
</div>

@if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
{
    <input type="hidden" class="order-id" value="@ViewBag.orderId" />
    <form method="POST" class="liqpay-form" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
        <input type="hidden" name="data" value="@ViewBag.liqpayData" />
        <input type="hidden" name="signature" value="@ViewBag.liqpaySignature" />
    </form>
}

<div class="row">
    <h2>Підтвердити бронювання</h2>

    Дата бронювання:
    <h3>
        @ViewBag.formattedDate
    </h3>

    @if (ViewBag.canConfirmBooking)
    {
        <div>
            У Вас залишилося <span class="time-left"></span> хв. щоб забронювати квиток
        </div>
    }
    else
    {
        @Html.Raw("Час для бронювання вичерпано");
    }

    @if (ViewBag.isPaid)
    {
        <h4>
            Бронювання успішно підтверджено
        </h4>
    }

    <!--<div class="order-items">
        @foreach (var orderItem in ViewBag.orderItems)
        {
            <div class="order-item" data-id="@orderItem.OrderItemId">
                <div class="order-item-row">
                    @Html.RouteLink("Вилучити", "Default", new { Controller = "Book", Action = "RemovePlace", Id = orderItem.OrderItemId })
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Кінотеатр: @orderItem.CinemaName
                    </div>
                    <div class="order-item-info">
                        Зал: @orderItem.CinemaHallName
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Фільм: @orderItem.MovieName
                    </div>
                    <div class="order-item-info">
                        Жанр: @orderItem.Genre
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Ряд: @orderItem.Row
                    </div>
                    <div class="order-item-info">
                        Місце: @orderItem.Cell
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Дата: @orderItem.FormattedDate
                    </div>
                    <div class="order-item-info">
                        Тривалість: @orderItem.Duration хв.
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Ціна: @orderItem.Price грн.
                    </div>
                </div>
            </div>
        }
    </div>-->
    <!--<div class="">
        Разом: @ViewBag.totalPrice грн.
    </div>-->
</div>