@{
    ViewBag.Title = ViewBag.Message;
}

<div class="book-confirm-image movie-detail-image" style="background-image: url(/images/)"></div>

<div class="book-confirm-info">
    <div class="book-confirm-movie-name bg-grey grey">
        Одного разу в голлівуді
    </div>
    <div class="book-confirm-cinema grey">
        Ефект
    </div>
    <div class="book-confirm-date grey">
        <div>
            Понеділок, 27.12.2019
        </div>
        <div>
            12:00
        </div>
    </div>
    <div class="book-confirm-places grey">
        <div>
            1 ряд, 1 місце, 50 грн.
        </div>
    </div>
</div>

<div class="book-confirm-user-info">
    <div class="book-confirm-input book-confirm-user-name bg-grey">
        <span class="glyphicon glyphicon-user grey"></span>
        <input type="text" class="bg-grey" placeholder="Ім'я & Прізвище" />
    </div>
    <div class="book-confirm-input book-confirm-user-email bg-grey">
        <input type="text" class="bg-grey" placeholder="E-mail" />
    </div>
    <div class="book-confirm-input book-confirm-user-phone bg-grey">
        <input type="text" class="bg-grey" placeholder="Телефон" />
    </div>
</div>

<div class="">
    Сума до сплати: @ViewBag.totalPrice грн.
</div>

<div class="button liqpay-pay hidden bg-orange violet bold">
    Оплатити
</div>

<div class="row">
    <h2>Підтвердити бронювання</h2>

    Дата бронювання:
    <h3>
        @ViewBag.formattedDate
    </h3>

    @if (ViewBag.canConfirmBooking)
    {
        <div>
            У Вас залишилося <span class="time-left"></span> хв. щоб забронювати квиток
        </div>
    }
    else
    {
        @Html.Raw("Час для бронювання вичерпано");
    }

    @if (ViewBag.isPaid)
    {
        <h4>
            Бронювання успішно підтверджено
        </h4>
    }

    <div class="order-items">
        @foreach (var orderItem in ViewBag.orderItems)
        {
            <div class="order-item" data-id="@orderItem.OrderItemId">
                <div class="order-item-row">
                    @Html.RouteLink("Вилучити", "Default", new { Controller = "Book", Action = "RemovePlace", Id = orderItem.OrderItemId })
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Кінотеатр: @orderItem.CinemaName
                    </div>
                    <div class="order-item-info">
                        Зал: @orderItem.CinemaHallName
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Фільм: @orderItem.MovieName
                    </div>
                    <div class="order-item-info">
                        Жанр: @orderItem.Genre
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Ряд: @orderItem.Row
                    </div>
                    <div class="order-item-info">
                        Місце: @orderItem.Cell
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Дата: @orderItem.FormattedDate
                    </div>
                    <div class="order-item-info">
                        Тривалість: @orderItem.Duration хв.
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Ціна: @orderItem.Price грн.
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="">
        Разом: @ViewBag.totalPrice грн.
    </div>

    @if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
    {
    <div class="">
        @using (Html.BeginRouteForm("Default", new { Controller = "Book", Action = "Success", Id = @ViewBag.orderId }))
        {
            <div class="form-group hidden">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Оплатити" class="btn btn-default" />
                </div>
            </div>
        }
        <input type="hidden" class="order-id" value="@ViewBag.orderId" />
        <form method="POST" class="liqpay-form" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
            <input type="hidden" name="data" value="@ViewBag.liqpayData" />
            <input type="hidden" name="signature" value="@ViewBag.liqpaySignature" />
            <label for="email">E-mail</label>
            <input type="email" class="form-control required text-box email" />
            <input type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png" class="btn liqpay-pay" />
        </form>
    </div>
    }
</div>