@{
    ViewBag.Title = ViewBag.Message;
}

<div class="book-confirm-image" style="background-image: url(/images/@ViewBag.movieImage)"></div>

<div class="book-confirm-info">
    <div class="book-confirm-movie-name text-uppercase bg-grey grey">
        @ViewBag.movieName
    </div>
    <div class="book-confirm-cinema grey">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span class="text-uppercase">
            @ViewBag.cinemaName
        </span>
    </div>
    <div class="book-confirm-date grey">
        <div>
            @ViewBag.dayName, @ViewBag.formattedDay
        </div>
        <div>
            @ViewBag.formattedTime
        </div>
    </div>
    <div class="book-confirm-places grey">
        @foreach (var orderItem in ViewBag.orderItems as List<CinemaTickets.Models.OrderItemInfo>)
        {
            <div>
                @orderItem.Row ряд, @orderItem.Cell місце, - @orderItem.Price грн.
            </div>
        }
    </div>
    @if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
    {
        <div class="book-confirm-user-info">
            @using (Html.BeginRouteForm("Default", new { Controller = "Book", Action = "Success", Id = @ViewBag.orderId }))
            {
                <!--<div class="form-group hidden">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Оплатити" class="btn btn-default" />
                    </div>
                </div>-->
            }
            <input type="hidden" class="order-id" value="@ViewBag.orderId" />
            <form method="POST" class="liqpay-form" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                <input type="hidden" name="data" value="@ViewBag.liqpayData" />
                <input type="hidden" name="signature" value="@ViewBag.liqpaySignature" />
                <!--<label for="email">E-mail</label>-->
                <!--<input type="email" class="form-control required text-box email" />-->
                <!--<input type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png" class="btn liqpay-pay" />-->
                <div class="book-confirm-input book-confirm-user-name input bg-grey">
                    <span class="glyphicon glyphicon-user grey"></span>
                    <input type="text" class="required name bg-grey" placeholder="Ім'я & Прізвище" />
                </div>
                <div class="book-confirm-input book-confirm-user-email input bg-grey">
                    <span class="glyphicon glyphicon-envelope grey"></span>
                    <input type="text" class="required email bg-grey" placeholder="E-mail" />
                </div>
                <div class="book-confirm-input book-confirm-user-phone input bg-grey">
                    <span class="glyphicon glyphicon-phone grey"></span>
                    <input type="text" class="required phone bg-grey" placeholder="Телефон" />
                </div>
                <div class="book-confirm-total">
                    <span class="text-uppercase grey bold">
                        Сума до сплати:
                    </span>
                    <span class="violet bold">
                        @ViewBag.totalPrice грн.
                    </span>
                </div>
                <div class="button liqpay-pay text-uppercase bg-orange violet bold">
                    Оплатити
                </div>
            </form>
        </div>
    }
</div>

<div class="row">
    <h2>Підтвердити бронювання</h2>

    Дата бронювання:
    <h3>
        @ViewBag.formattedDate
    </h3>

    @if (ViewBag.canConfirmBooking)
    {
        <div>
            У Вас залишилося <span class="time-left"></span> хв. щоб забронювати квиток
        </div>
    }
    else
    {
        @Html.Raw("Час для бронювання вичерпано");
    }

    @if (ViewBag.isPaid)
    {
        <h4>
            Бронювання успішно підтверджено
        </h4>
    }

    <!--<div class="order-items">
        @foreach (var orderItem in ViewBag.orderItems)
        {
            <div class="order-item" data-id="@orderItem.OrderItemId">
                <div class="order-item-row">
                    @Html.RouteLink("Вилучити", "Default", new { Controller = "Book", Action = "RemovePlace", Id = orderItem.OrderItemId })
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Кінотеатр: @orderItem.CinemaName
                    </div>
                    <div class="order-item-info">
                        Зал: @orderItem.CinemaHallName
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Фільм: @orderItem.MovieName
                    </div>
                    <div class="order-item-info">
                        Жанр: @orderItem.Genre
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Ряд: @orderItem.Row
                    </div>
                    <div class="order-item-info">
                        Місце: @orderItem.Cell
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Дата: @orderItem.FormattedDate
                    </div>
                    <div class="order-item-info">
                        Тривалість: @orderItem.Duration хв.
                    </div>
                </div>
                <div class="order-item-row">
                    <div class="order-item-info">
                        Ціна: @orderItem.Price грн.
                    </div>
                </div>
            </div>
        }
    </div>-->
    <!--<div class="">
        Разом: @ViewBag.totalPrice грн.
    </div>-->
</div>