@{
    ViewBag.Title = ViewBag.Message;
    var is3DLabel = ViewBag.is3D == true ? "3D" : "2D";
}

<div class="book-confirm">
    <div class="book-confirm-image" style="background-image: url(/images/@ViewBag.movieImage)"></div>
    <div class="book-confirm-info">
        <div class="book-confirm-movie-name text-uppercase bg-grey grey">
            @ViewBag.movieName
            <span class="book-confirm-movie-type">
                2D
            </span>
        </div>
        @Html.Partial("Cinema")
        @Html.Partial("Places")
        @if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
        {
            @Html.Partial("User")
        }
    </div>
    @if (@ViewBag.movieAgeLimit > 0)
    {
        <div class="movie-age-limit grey">
            <span class="movie-age-limit-icon">+</span>
            <span class="movie-age-limit-text">@ViewBag.movieAgeLimit</span>
        </div>
    }
</div>

<div class="book-confirm-mobile">
    <div class="book-confirm-movie-name text-uppercase bg-grey grey">
        @ViewBag.movieName
        @if (@ViewBag.movieAgeLimit > 0)
        {
            <div class="movie-age-limit grey">
                <span class="movie-age-limit-icon">+</span>
                <span class="movie-age-limit-text">@ViewBag.movieAgeLimit</span>
            </div>
        }
        <span class="book-confirm-movie-type">
            @is3DLabel
        </span>
    </div>
    <div class="book-confirm-image" style="background-image: url(/images/@ViewBag.movieImage)"></div>
    <div class="book-confirm-info">
        @Html.Partial("Cinema")
    </div>
    @Html.Partial("Places")
    @if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
    {
        @Html.Partial("User")
    }
</div>

@if (!ViewBag.isPaid && ViewBag.canConfirmBooking)
{
    <input type="hidden" class="order-id" value="@ViewBag.orderId" />
    <form method="POST" class="liqpay-form" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
        <input type="hidden" name="data" value="@ViewBag.liqpayData" />
        <input type="hidden" name="signature" value="@ViewBag.liqpaySignature" />
    </form>
}