@model CinemaTickets.Models.User

@{
    ViewBag.Title = ViewBag.Message;
    string hour = ViewBag.date.Hour < 10 ? "0" + ViewBag.date.Hour.ToString() : ViewBag.date.Hour.ToString();
    string minute = ViewBag.date.Minute < 10 ? "0" + ViewBag.date.Minute.ToString() : ViewBag.date.Minute.ToString();
}

<div class="row">
    <h2>Забронювати квиток</h2>

    <h3>
        @ViewBag.date.Day.@ViewBag.date.Month.@ViewBag.date.Year @hour:@minute
    </h3>

    <h4>
        @ViewBag.cinemaName - @ViewBag.cinemaHallName
    </h4>

    <h5>
        @ViewBag.movieName
    </h5>

    <h6>
        Ціна квитка: @ViewBag.price грн.
    </h6>

    <div class="legend">
        <div class="booked"></div>
        <div>Заброньовано</div>
        <div class="free"></div>
        <div>Вільно</div>
    </div>

    <div class="book-ticket">
        <input type="hidden" class="cinema-hall-movie-id" value="@ViewBag.cinemaHallMovieId" />
        <input type="hidden" class="cinema-hall-movie-price" value="@ViewBag.price" />
        <div class="form-group">
            <div class="cineme-hall-actions">
                <button class="btn btn-default book-places hidden">
                    Забронювати
                </button>
            </div>
        </div>
        <div class="total-price">
            Сума до сплати: <span class="total-price-value">0</span> грн.
        </div>
        @Html.Partial("../CinemaHallPlaces/Places")
    </div>
</div>