@model CinemaTickets.Models.User

@{
    ViewBag.Title = ViewBag.Message;
    var is3DLabel = ViewBag.is3D == true ? "3D" : "2D";
}

<input type="hidden" class="cinema-hall-movie-id" value="@ViewBag.cinemaHallMovieId" />
<input type="hidden" class="cinema-hall-movie-price" value="@ViewBag.price" />

<div class="book-info bg-grey col-lg-4 col-md-4 col-sm-4">
    <div class="book-info-name grey bold">
        @ViewBag.movieName
    </div>
    <div class="book-info-detail light-grey">
        @ViewBag.cityName | @is3DLabel | @ViewBag.cinemaName | @ViewBag.dayName @ViewBag.formattedTime
    </div>
</div>

<div class="book-places-info col-lg-4 col-md-4 col-sm-4 col-xs-6">
    <div class="book-places-info-total grey">
        <span class="bold">
            Сума до сплати:
        </span>
        <span class="violet bold">
            <span class="total-price">100</span> грн.
        </span>
    </div>
    <div class="book-places-info-choise grey"></div>
</div>

<div class="book-confirm col-lg-4 col-md-4 col-sm-4 col-xs-6">
    <div class="button book-places hidden bg-orange violet bold">
        Забронювати
    </div>
</div>

<div class="cinema-hall-book-places">
    @Html.Partial("../CinemaHallPlaces/Places")
</div>

<div class="legend">
    <div class="free"></div>
    <div class="light-grey-2">Вільно</div>
    <div class="active"></div>
    <div class="light-grey-2">Ваш вибір</div>
    <div class="booked"></div>
    <div class="light-grey-2">Зайнято</div>
</div>

<div class="row">
    <!--<h2>Забронювати квиток</h2>

    <h3>
        @ViewBag.formattedDate
    </h3>

    <h4>
        @ViewBag.cinemaName - @ViewBag.cinemaHallName
    </h4>

    <h5>
        @ViewBag.movieName
    </h5>

    <h5>
        @ViewBag.genreName
    </h5>

    <div>
        @ViewBag.Duration хв
    </div>

    <h6>
        Ціна квитка: @ViewBag.price грн.
    </h6>-->

    <div class="book-ticket">
        <!--<input type="hidden" class="cinema-hall-movie-id" value="@ViewBag.cinemaHallMovieId" />
        <input type="hidden" class="cinema-hall-movie-price" value="@ViewBag.price" />
        <div class="form-group">
            <div class="cineme-hall-actions">
                <button class="btn btn-default book-places hidden">
                    Забронювати
                </button>
            </div>
        </div>-->
        <!--<div class="total-price">
            Сума до сплати: <span class="total-price-value">0</span> грн.
        </div>-->
        <!--<div class="cinema-hall-book-places">
            @Html.Partial("../CinemaHallPlaces/Places")
        </div>-->
    </div>
</div>