<div class="book-confirm-user-info">
    <div class="book-confirm-input book-confirm-user-name input bg-grey">
        <span class="glyphicon glyphicon-user grey"></span>
        <input type="text" class="required name bg-grey" placeholder="Ім'я & Прізвище" value="@ViewBag.name" />
    </div>
    <div class="book-confirm-input book-confirm-user-email input bg-grey">
        <span class="glyphicon glyphicon-envelope grey"></span>
        <input type="text" class="required email bg-grey" placeholder="E-mail" value="@ViewBag.email" />
    </div>
    <div class="book-confirm-input book-confirm-user-phone input bg-grey">
        <span class="glyphicon glyphicon-phone grey"></span>
        <input type="text" class="required phone bg-grey" placeholder="Телефон" value="@ViewBag.phone" />
    </div>
    <div class="book-confirm-warning text-right text-uppercase grey">* Будь-ласка заповніть всі поля</div>
    <div class="grey">
        @if (ViewBag.canConfirmBooking)
        {
            <span>У Вас залишилося <span class="time-left"></span> хв. щоб забронювати квиток</span>
        }
        else
        {
            @Html.Raw("Час для бронювання вичерпано");
        }

        @if (ViewBag.isPaid)
        {
            <span>Бронювання успішно підтверджено</span>
        }
    </div>
    <div class="book-confirm-total">
        <span class="text-uppercase grey bold">
            Сума до сплати:
        </span>
        <span class="violet bold">
            @ViewBag.totalPrice грн.
        </span>
    </div>
    <div class="button liqpay-pay text-uppercase bg-orange violet bold">
        Оплатити
    </div>
</div>