@model CinemaTickets.Models.Movie

@{
    ViewBag.Title = "Details";
}

<div class="movie-video-mobile">
    <embed src="@Model.YoutubeUrl">
</div>

<div class="movie-detail">
    <div class="movie-detail-image" style="background-image: url(/images/@Html.Raw(Model.Image))"></div>
    <div class="movie-detail-name">
        @Model.Name
    </div>
</div>

<div class="movie-video">
    <embed src="@Model.YoutubeUrl">
</div>
<div class="movie-description">
    @Model.Description
</div>

<div class="choose-cinema">
    <div class="choose-cinema-arrow"></div>
    <div class="choose-cinema-text grey">
        Обирай свій улюблений кінотеатр
    </div>
    <div class="choose-cinema-clock"></div>
</div>

@Html.Partial("../Home/Calendar")
@Html.Partial("Time")