@model CinemaTickets.Models.Movie

@{
    ViewBag.Title = "Details";
}

<div class="movie-video-mobile">
    <embed src="@Model.YoutubeUrl">
</div>

<div class="movie-detail-container">
    <div class="movie-detail">
        <div class="movie-detail-image" style="background-image: url(/images/@Html.Raw(Model.Image))"></div>
        <div class="movie-detail-name">
            @Model.Name
        </div>
    </div>

    <div class="movie-video">
        <embed src="@Model.YoutubeUrl">
    </div>

    @Html.Partial("Info")

    <div class="movie-description grey">
        @Model.Description
    </div>
</div>

<div class="movie-detail-container-mobile">
    <div class="movie-detail-image" style="background-image: url(/images/@Html.Raw(Model.Image))"></div>
    <div class="movie-detail-name">
        @Model.Name
    </div>
    @Html.Partial("Info")
    <div class="movie-description grey">
        @Model.Description
    </div>
</div>

<div class="choose-cinema">
    <div class="choose-cinema-arrow"></div>
    <div class="choose-cinema-text grey">
        Обирай свій улюблений кінотеатр
    </div>
    <div class="choose-cinema-clock"></div>
</div>

@Html.Partial("../Home/Calendar")
<input type="hidden" class="movie-id" value="@ViewBag.movieId" />
<div class="movie-schedule">
    @Html.Raw(@ViewBag.timeHtml)
</div>