<div class="movie-detail-info grey">
    <div>
        <span class="movie-detail-info-label">
            Країна:
        </span>
        <span>
            @Model.Country
        </span>
    </div>
    <div>
        <span class="movie-detail-info-label">
            Рік:
        </span>
        <span>
            @Model.Year
        </span>
    </div>
    <div>
        <span class="movie-detail-info-label">
            Режисер:
        </span>
        <span>
            @Model.Director
        </span>
    </div>
    <div>
        <span class="movie-detail-info-label">
            Актори:
        </span>
        <span>
            @Model.Cast
        </span>
    </div>
    <div>
        <span class="movie-detail-info-label">
            Бюджет:
        </span>
        <span>
            @Model.Budget
        </span>
    </div>
    @if (@Model.AgeLimit > 0)
    {
        <div class="movie-age-limit grey">
            <span class="movie-age-limit-icon">+</span>
            <span class="movie-age-limit-text">@Model.AgeLimit</span>
        </div>
    }
</div>