@{
    Dictionary<CinemaTickets.Models.CinemaMovieSelect, Dictionary<string, Dictionary<string, int>>> schedule =
        ViewData["schedule"] as Dictionary<CinemaTickets.Models.CinemaMovieSelect, Dictionary<string, Dictionary<string, int>>>;
}

<input type="hidden" class="movie-period-start-day" value="@ViewData["moviePeriodStartDay"]" />
<input type="hidden" class="movie-period-start-month" value="@ViewData["moviePeriodStartMonth"]" />
<input type="hidden" class="movie-period-start-year" value="@ViewData["moviePeriodStartYear"]" />

<input type="hidden" class="movie-period-end-day" value="@ViewData["moviePeriodEndDay"]" />
<input type="hidden" class="movie-period-end-month" value="@ViewData["moviePeriodEndMonth"]" />
<input type="hidden" class="movie-period-end-year" value="@ViewData["moviePeriodEndYear"]" />

<div class="time-table">
    @foreach (CinemaTickets.Models.CinemaMovieSelect cinemaMovie in schedule.Keys)
    {
        <div class="time-table-cinema">
            <div class="time-table-cinema-icon">
                <span class="glyphicon glyphicon-facetime-video"></span>
            </div>
            <div class="time-table-cinema-detail">
                <div class="time-table-cinema-name">
                    @cinemaMovie.CinemaName
                </div>
                <div class="time-table-cinema-address">
                    вул. Героїв Майдану, 176
                </div>
            </div>
        </div>
        <div class="time-table-select">
            <div class="time-table-period grey">
                <span class="time-table-period-prev bg-grey @if (ViewData["hasPrevMoviePeriod"].ToString() != "true") { @Html.Raw(" hidden"); }">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </span>
                <span class="time-table-period-start">
                    @ViewData["moviePeriodStartFormattedDate"]
                </span>
                -
                <span class="time-table-period-end">
                    @ViewData["moviePeriodEndFormattedDate"]
                </span>
                <span class="time-table-period-next bg-grey @if (ViewData["hasNextMoviePeriod"].ToString() != "true") { @Html.Raw(" hidden"); }">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </span>
            </div>
            <div class="time-table-movie-type">
                @Html.Raw(@cinemaMovie.Is3D == true ? "3D" : "2D")
            </div>
            @foreach (string day in schedule[cinemaMovie].Keys)
            {
                <div class="time-table-day">
                    <div class="time-table-day-name">
                        @day
                    </div>
                    @foreach (KeyValuePair<string, int> time in schedule[cinemaMovie][day])
                    {
                        <a class="time-table-day-time" href="@Url.RouteUrl("Default", new { controller = "Book", action = "Index", id = @time.Value })">
                            @time.Key
                        </a>
                    }
                </div>
            }
        </div>
    }
</div>