@model OnlineCinema.Models.User

@{
    ViewBag.Title = "Вилучення користувача";
}

<h2>Вилучення користувача</h2>

<h3>Вилучити користувача?</h3>
<div>
    <h4>Користувач</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Прізвище
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Ім'я
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Логін
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Вилучити" class="btn btn-default" /> |
            @Html.ActionLink("До списку", "Index")
        </div>
    }
</div>
