@model IEnumerable<OnlineCinema.Models.CinemaMovieSelect>

@{
    ViewBag.Title = "Фільми";
}

<h2>Фільми</h2>

<p>
    @Html.ActionLink("Створити", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.ID }) |
            @Html.ActionLink("Вилучити", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
