@{
    string dayOfWeek = "";
}
<div class="calendar">
    <div class="calendar-slider-prev">
        <span class="glyphicon glyphicon-menu-left"></span>
    </div>
    <div class="calendar-slider">
        @foreach (var date in ViewBag.dates as List<DateTime>)
        {
            var active = ViewBag.date.Year == date.Year && ViewBag.date.Month == date.Month && ViewBag.date.Day == date.Day;
            <div class="calendar-date @if (active) { @Html.Raw(" slider-active"); } " data-year="@date.Year" data-month="@date.Month" data-day="@date.Day">
                <div class="calendar-date-weekday">
                    @{
                        dayOfWeek = date.DayOfWeek == ViewBag.currentDate.DayOfWeek ? "Today" : date.DayOfWeek.ToString();
                    }
                    @ViewBag.dayList[dayOfWeek]
                </div>
                <div class="calendar-date-day">
                    <div class="calendar-date-month">@ViewBag.monthList[date.Month]</div>
                    <div class="calendar-date-number">@date.Day</div>
                </div>
            </div>
        }
    </div>
    <div class="calendar-slider-next">
        <span class="glyphicon glyphicon-menu-right"></span>
    </div>
</div>