@model CinemaTickets.Models.User

@{
    ViewBag.Title = ViewBag.Message;
    var hour = "";
    var minute = "";
    var dateClass = "";
}

@Html.Partial("Filter")

@Html.Partial("Calendar")

@Html.Partial("Movies", new ViewDataDictionary { { "movies", ViewBag.movies } })

<div class="how-to"></div>

<div class="row">
    <h2>Фільми</h2>

    <h3>
        @ViewBag.date.Day.@ViewBag.date.Month.@ViewBag.date.Year
    </h3>

    @if (ViewBag.cityId > 0)
    {
        <div class="cinema">
            <input type="hidden" class="cinema-year" value="@ViewBag.date.Year" />
            <input type="hidden" class="cinema-month" value="@ViewBag.date.Month" />
            <input type="hidden" class="cinema-day" value="@ViewBag.date.Day" />
            <p>
                Кінотеатр: @Html.DropDownList("CinemaID", "Всі")
            </p>
            <p>
                Жанр: @Html.DropDownList("GenreID", "Всі")
            </p>
            <p>
                Назва: @Html.TextBox("SearchString", "", new { @class = "cinema-movie-name" })
                <input type="submit" class="search" value="Фільтр" />
            </p>
        </div>

        <div class="dates">
            @foreach (var date in ViewBag.dates)
            {
                dateClass = date.Year == ViewBag.date.Year && date.Month == ViewBag.date.Month && date.Day == ViewBag.date.Day ? "active" : "";
                <div class="date @dateClass">
                    <a href="/date/@date.Year/@date.Month/@date.Day">
                        @date.Day.@date.Month.@date.Year
                    </a>
                </div>
            }
        </div>
    }

    <!--<div class="movies">
        @foreach (var movie in ViewBag.movies)
        {
            <div class="movie">
                <a href="/book/@movie.CinemaHallMovieID">
                    <div class="movie-title">
                        @movie.MovieName
                    </div>
                    <div>
                        @movie.GenreName
                    </div>
                    <div class="movie-image" style="background-image: url('/images/@movie.Image')"></div>
                    <div class="movie-time">
                        @movie.FormattedTime
                    </div>
                    <div class="movie-duration">
                        @movie.Duration хв
                    </div>
                </a>
            </div>
        }
    </div>-->
</div>
