@model CinemaTickets.Models.User

@{
    ViewBag.Title = ViewBag.Message;
    var hour = "";
    var minute = "";
    var dateClass = "";
}

<!--<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
<div class="row">
    <h2>Фільми</h2>

    <h3>
        @ViewBag.date.Day.@ViewBag.date.Month.@ViewBag.date.Year
    </h3>

    @if (ViewBag.cityId > 0)
    {
        <div class="cinema">
            <input type="hidden" class="cinema-year" value="@ViewBag.date.Year" />
            <input type="hidden" class="cinema-month" value="@ViewBag.date.Month" />
            <input type="hidden" class="cinema-day" value="@ViewBag.date.Day" />
            <p>
                Кінотеатр: @Html.DropDownList("CinemaID", "Всі")
            </p>
            <p>
                Жанр: @Html.DropDownList("GenreID", "Всі")
            </p>
            <p>
                Назва: @Html.TextBox("SearchString", "", new { @class = "cinema-movie-name" })
                <input type="submit" class="search" value="Фільтр" />
            </p>
        </div>

        <div class="dates">
            @foreach (var date in ViewBag.dates)
            {
                dateClass = date.Year == ViewBag.date.Year && date.Month == ViewBag.date.Month && date.Day == ViewBag.date.Day ? "active" : "";
                <div class="date @dateClass">
                    <a href="/date/@date.Year/@date.Month/@date.Day">
                        @date.Day.@date.Month.@date.Year
                    </a>
                </div>
            }
        </div>
    }

    <div class="movies">
        @foreach (var movie in ViewBag.movies)
        {
            <div class="movie">
                <a href="/book/@movie.CinemaHallMovieID">
                    <div class="movie-title">
                        @movie.MovieName
                    </div>
                    <div>
                        @movie.GenreName
                    </div>
                    <div class="movie-image" style="background-image: url('/images/@movie.Image')"></div>
                    <div class="movie-time">
                        @movie.FormattedTime
                    </div>
                    <div class="movie-duration">
                        @movie.Duration хв
                    </div>
                </a>
            </div>
        }
    </div>
</div>